.main_footer_div {
  padding: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(162, 132, 94, 0.14);
}
.main_footer_wrapper {
  display: flex;
  flex-direction: column;
}
