.main_footer_div {
  padding: 20px 0;
  width: 100%;
  background-color: #F2EEE8;
  margin-top: 2rem;


}
.main_footer_wrapper {
  display: flex;
  flex-direction: column;
}


.header_wrapper {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}