.ab_whole {
  min-height: calc(100vh - 160px);
  padding-bottom: 80px;
  padding-top: 0;
}

.ab_whole .parent-container {
  text-align: left;
  padding-top: 5px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.ab_whole h2 {
  margin-top: 60px;
}

.ab_whole h3 {
  font-size: 1.5rem;
}

.ab_whole hr {
  width: 10%;
  margin: 20px auto;
  border: 1px solid #888888;
  margin-bottom: 40px;
}

.ab_whole img {
  border-radius: 15px;
}

.no-margin {
  margin-top: 0;
  position: relative;
  width: 260px;
  height: 260px;
}

.staffs {
  width: 100%;
}

.ab_whole .section-heading {
  display: inline-block;
  text-align: left;
  background-color: #d3c7b5;
  color: #ffffff;
  padding: 10px 80px;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.staff-container {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  flex-wrap: wrap;
  overflow-x: auto;
}
.staff_indiv {
  height: 260px;
  width: auto;
}

@media (max-width: 991px) {
  .image {
    position: relative;
    width: 260px;
    height: 260px;
    margin-top: 10px;
  }
  .no-margin {
    margin-top: 0;
    position: relative;
    width: 260px;
    height: 260px;
  }
}

@media (max-width: 480px) {
  .image {
    position: relative;
    width: 260px;
    height: 260px;
    margin-top: 10px;
  }
  .no-margin {
    margin-top: 0;
    position: relative;
    width: 260px;
    height: 260px;
  }
}
.wrapper {
  display: block;
  column-count: 4;
  column-width: 200px;
  padding: 0 12px;
  margin-top: 20px;
}
.image {
  position: relative;
  width: 260px;
  height: 260px;
  margin-top: 20px;
}

.content_first {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 96%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: left;
  align-items: self-end;
  opacity: 0;
  transition: opacity 0.6s;
  padding-left: 10px;
  border-radius: 15px;
}
.content {
  position: absolute;
  top: 0;
  right: 0;
  width: 94%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: left;
  align-items: self-end;
  opacity: 0;
  transition: opacity 0.6s;
  padding-left: 1em;
  border-radius: 15px;
}

.content:hover {
  opacity: 1;
}

.content h1 {
  font-size: 55px;
  color: #f0f0f0;
}

.content_first:hover {
  opacity: 1;
}

.content_first h1 {
  font-size: 55px;
  color: #f0f0f0;
}
